html, body {
    height: 98%;
}
body{
    /* margin: 2em !important; */
    border: 1px black solid;
}
#message-body{
    height: 95%;
}
#chat-inp{
    width: 95%;
    /* margin-left: 0.8em; */
    /* padding-top: 1em; */

}
#chat-btn{
    bottom: 0;
}
.input-chat{
    background-color: darkgrey;
    bottom: 0;
    /* height: 5%; */
    margin-top: 0.9em;
}