*:before,
*:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

[class*='box-']{
    border: 1px solid black;
}

.box-green {
    background-color: #aedd94;
    padding: 9vh 40vw;
}
.wrapper{
    margin-top: 3vh;
    width: 100%;
    height: 100%;
}
/*clearfix hacks*/
.wrapper::after{
    content: "";
    clear: both;
    display: table;
}


.box-yellow{
    background-color: #f4eb49;
    padding: 17.5vh 9.5vw;
    float: left;
}

.box-orange{
    background-color: #ff6624;
    padding: 17.5vh 39vw;
    float: right;
}

.box-yellow-2 {
    background-color: #f4eb49;
    padding: 18vh 9.5vw;
    float: left;
}
.box-blue{
    background-color: #4dd7fa;
    padding: 18vh 39vw;
    float: right;
}
